<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User landing page</title>
</head>
<body>
    <h1>
        <%= loggedUser.firstName %> 
    </h1>
    <h1>
        <%= loggedUser.lastName %> 
    </h1>
    <h1>
        <%= loggedUser.username %> 
    </h1>

    
</body>
</html>